body {
    margin: 0;
    padding: 0;
}
.bg {
    background-image: url('airportBG1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
}
.bg-overlay{
    background-color: rgba(0, 0, 0, 0.2);
    height: 100vh;
}
.TitleContainer{
    top: 0;
    z-index: 1000;
    height: auto;
    width: auto;
    animation: fadeSlideIn 1s ease-out forwards;
}

.paragraphContainer{
    animation: fadeSlideIn 3s ease-out forwards;
    height: auto;
}
.Title{
    -webkit-text-stroke: 2px black;
    animation: fadeSlideIn 1s ease-out forwards;
}
.DavaoAirport{
    height: 250px;
    width: 80%;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.4);
    animation: fadeSlideIn 2s ease-out forwards;
}
.animate-in {
    animation: fadeSlideIn 1s ease-out forwards;
}
@media only screen and (max-width: 991px) {
    .DavaoAirport {
        height: 400px;
        width: 80%;
    }
    .TitleContainer{
        position: sticky;
    }
}
@media only screen and (max-width: 426px) {
    .DavaoAirport {
        height: 250px;
        width: 100%;
    }
}
@keyframes fadeSlideIn {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}